.App {
  background-color: #cccccc;
  min-height: 100vh;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  background-color: #45cea2;
  color: #ffffff;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.calculatorBody {
  width: 500px;
  min-height: 300px;
}

.row {
  display: flex;
  justify-content: space-around;
}